#info-container {
  padding: 10px 50px;

  .row {
    margin-top: 10px;
    margin-bottom: 0;
  }

  form p {
    display: inline-block;
    margin-left: 15px;
  }
}
#button-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}