$p1Color : #4CAF50;
$p2Color : #2196F3;
$p3Color : #ffeb3b;

#widget-container {
  #priority-container {
    width: 50%;
    margin-left: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    div {
      flex-grow: 1;
    }
  }
  #picker-container {
    display: inline-block;
    width: 45%;
    margin-left: 2%;
    table {
      tr {

        td {
          border: 1px solid #999;
          width: 20px;
          height: 17px;
          padding: 0;
          font-size: smaller;
          vertical-align: middle;
          text-align: center;

          &.disabled {
            background-color: lightgrey;
          }

          &.priority-1 {
            background-color: $p1Color;
          }

          &.priority-2 {
            background-color: $p2Color;
          }

          &.priority-3 {
            background-color: $p3Color;
          }

        }
      }
    }
  }
  #presenter-container {
    display: inline-block;
    width: 45%;
    margin-left: 3%;
    table {
      tr {
        td {
          border: 1px solid #999;
          width: 20px;
          height: 17px;
          padding: 0;
          font-size: smaller;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}