doctype html
html
    head
        title=title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/css/common.css')
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js')
        script(src='https://d3js.org/d3.v5.min.js')
        script(src='/js/common.js')

        block links
    body
        .navbar-fixed#navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo(href='/') WHEN2MEET2
                    //img(src='https://user-images.githubusercontent.com/13401706/39680285-dead6836-516c-11e8-9686-bf3ea31d993d.jpg')

        block body-content