extends _base

block links
    link(rel='stylesheet', href='/css/attend.css')
    link(rel='stylesheet', href='/css/TimeSlotWidget.css')
    script(src='/js/attend.js')
    script(src='/js/TimeSlotWidget.js')
    meta(name="eventID", content=id)

block body-content
    //.container#typeform-container
    //    #embedded-typeform
    #info-container.col.l12
        .row
            #name.input-field.col.l3.offset-l1
                input(placeholder="(*)Your name...", type="text", class='validate', id="name-input")
                label(for="name-input") Name
            #email.input-field.col.l3.offset-l1
                input(placeholder="Your email...", type="email", class='validate', id="email-input")
                label(for="email-input") Email
            #location.col.l3.offset-l1
                form(action="#")

    #widget-container
    #button-container
        a.waves-effect.waves-light.btn#btn-submit Submit