extends _base

block links
    link(rel='stylesheet', href='/css/index.css')
    script(src="jquery-3.3.1.min.js")

    link(rel='stylesheet', href='/css/TimeSlotWidget.css')
    script(src='/js/index.js')
    script(src='/js/TimeSlotWidget.js')

block body-content
    //.container#typeform-container
    //    #embedded-typeform
    input(type='text' name='event_name' class="formelement" placeholder="Title Your Event")
    br
    input(type='text' name='creator_email' class="formelement" placeholder="Place your email Here")
    table(style="width:10%")
        th= month
        tr
            th Su
            th Mo
            th Tu
            th We
            th Th
            th Fr
            th Sa
        tr 
            td(id = "a0" onclick="selectDate(this.id)")= a0
            td(id = "a1" onclick="selectDate(this.id)")= a1
            td(id = "a2" onclick="selectDate(this.id)")= a2
            td(id = "a3" onclick="selectDate(this.id)")= a3
            td(id = "a4" onclick="selectDate(this.id)")= a4
            td(id = "a5" onclick="selectDate(this.id)")= a5
            td(id = "a6" onclick="selectDate(this.id)")= a6
        tr
            td(id = "a7" onclick="selectDate(this.id)")= a7
            td(id = "a8" onclick="selectDate(this.id)")= a8
            td(id = "a9" onclick="selectDate(this.id)")= a9
            td(id = "a10" onclick="selectDate(this.id)")= a10
            td(id = "a11" onclick="selectDate(this.id)")= a11
            td(id = "a12" onclick="selectDate(this.id)")= a12
            td(id = "a13" onclick="selectDate(this.id)")= a13
        tr
            td(id = "a14" onclick="selectDate(this.id)")= a14
            td(id = "a15" onclick="selectDate(this.id)")= a15
            td(id = "a16" onclick="selectDate(this.id)")= a16
            td(id = "a17" onclick="selectDate(this.id)")= a17
            td(id = "a18" onclick="selectDate(this.id)")= a18
            td(id = "a19" onclick="selectDate(this.id)")= a19
            td(id = "a20" onclick="selectDate(this.id)")= a20
        tr
            td(id = "a21" onclick="selectDate(this.id)")= a21
            td(id = "a22" onclick="selectDate(this.id)")= a22
            td(id = "a23" onclick="selectDate(this.id)")= a23
            td(id = "a24" onclick="selectDate(this.id)")= a24
            td(id = "a25" onclick="selectDate(this.id)")= a25
            td(id = "a26" onclick="selectDate(this.id)")= a26
            td(id = "a27" onclick="selectDate(this.id)")= a27
        tr
            td(id = "a28" onclick="selectDate(this.id)")= a28
            td(id = "a29" onclick="selectDate(this.id)")= a29
            td(id = "a30" onclick="selectDate(this.id)")= a30
            td(id = "a31" onclick="selectDate(this.id)")= a31
            td(id = "a32" onclick="selectDate(this.id)")= a32
            td(id = "a33" onclick="selectDate(this.id)")= a33
            td(id = "a34" onclick="selectDate(this.id)")= a34
        tr
            td(id = "a35" onclick="selectDate(this.id)")= a35
            td(id = "a36" onclick="selectDate(this.id)")= a36
            td(id = "a37" onclick="selectDate(this.id)")= a37
            td(id = "a38" onclick="selectDate(this.id)")= a38
            td(id = "a39" onclick="selectDate(this.id)")= a39
            td(id = "a40" onclick="selectDate(this.id)")= a40
            td(id = "a41" onclick="selectDate(this.id)")= a41
    label(class="switch")
        input(type="checkbox")
        span(class="slider round")
    #widget-container
    script
        function selectDate(id)
           document.getElementById(id).style.color = "red";
