.confirm {
  margin-top: 20px; }

#location-chart p {
  margin: 2px;
  line-height: 50px; }

.location-bar {
  background-color: #80cbc4;
  height: 100%;
  text: #212121;
  background-clip: content-box; }
